*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    font-family: 'Glory', sans-serif;
}
body{
    background: #F2F1F5;
    margin: 0;
    box-sizing: border-box;
    color: #170838;
}
p{
    font-size: 18px;
}
.topheader{
    background-color: #170838;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.topheader img {
    height: 150px
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(rgba(23, 8, 56, 1), rgba(23, 8, 56, 0.9));  
    width: 100%;
    overflow: auto;
}
nav a {
    /* border-left: 1px solid rgb(243, 209, 252); */
    display: block;
    padding: 5px;
    color: #C3ACDD;
    text-decoration: none;
    font-size: 28px;
    margin-bottom: 0;
}
nav a:hover{
    opacity: .7;
}
.hero-image {
    background-image: linear-gradient(rgba(23, 8, 56, 0.9), rgba(23, 8, 56, 0.3)), url("../img/pincushion.jpeg");
    height: 350px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute; 
    display: block;
} 
.hero-text {
    width: 33.33%;
    margin:7%;
    text-align: center;
    color: #c9b6df;
    font-size: 22px;
}
#exheader{
    padding-top: 380px;
    margin-bottom: 20px;
    text-align: center;
}
.example {
    padding: 20px;
    padding-top: 5px;
    display: inline-flex;
    justify-content: space-around;

}
.examplex3 {
    margin: 10px;
    width: 20%;
}
.examplex3 p {
    margin-bottom: 20px;
}
.quiltimg {
    width: 100%;
}
.quiltimg:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}
.exdivider {
    background-color: #a192a7;
    height: fit-content;
    width: 100%;
    display: inline-flex;
    box-sizing: border-box;
    padding: 40px;
    align-items: center;
}
#exdividerimg {
    width: 400px;
}
#exdividertext {
    margin-left: 40px;
}
#exheader2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.example2 {
    padding: 20px;
    padding-top: 5px;
    display: inline-flex;
    align-items:center;
    justify-content: space-around;
}
.examplex2 {
    margin: 10px;
    width: 20%;
}
.learn1 {
    background-color: #F2F1F5;
    height: fit-content;
    width: 100%;
    display: inline-flex;
    box-sizing: border-box;
    padding: 40px;
    padding-right: 100px;
    padding-left: 100px;
    align-items: center;

}
.learn2 {
    background-color: #a192a7;
    height: fit-content;
    width: 100%;
    display: inline-flex;
    box-sizing: border-box;
    padding: 40px;
    padding-right: 100px;
    padding-left: 100px;
    align-items: center;

}
.learn3 {
    padding: 20px;
    padding-top: 5px;
    display: inline-flex;
    align-items:center;
    justify-content: space-around;
    margin-top: 30px;
}
.learn3col {
    margin: 10px;
    width: 20%;
}
#contactmain {
    display: flex;
    display: inline-flex;
}

.form {
    justify-content: center;
    text-align: center;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 30px;
}
.forminput {
    justify-content: center;
    text-align: center;
    margin: auto;
}
.forminput input, textarea {
    width: 300px;
}
.forminput textarea {
    height: 200px;
}
input[type=text], select, textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 2px;
    resize: vertical;
  }
  input[type=email], select, textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 2px;
    resize: vertical;
  }
.map {
    box-sizing: border-box;
    margin-right: 200px;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(rgba(23, 8, 56, 1), rgba(23, 8, 56, 0.8));  
    width: 100%;
    overflow: auto;

}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .footerfollow {
      color: #C3ACDD;
      text-align: center;
      padding-top: 30px;
    
  }
  .fa:hover {
      opacity: 0.7;
  }
  .fa-facebook {
        color: white;
  }
  .fa-youtube {
    color: white;
    padding-right: 35px;
  }
  .fa-pinterest {
    color: white;
  }