*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #F2F1F5;
    margin: 0;

    box-sizing: border-box;
    
}
.topheader{
    background-color: #170838;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.topheader img {
    width: 100px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(rgba(23, 8, 56, 1), rgba(23, 8, 56, 0.9));  
    width: 100%;
    overflow: auto;

}

nav a {
    /* border-left: 1px solid rgb(243, 209, 252); */
    display: block;
    padding: 5px;
    color: #C3ACDD;
    text-decoration: none;
    font-size: 23px;
    margin-bottom: 0;

}
.hero-image {
    background-image: linear-gradient(rgba(23, 8, 56, 0.9), rgba(23, 8, 56, 0.3)), url("../img/pincushion.jpeg");
    height: 300px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute; 
    display: block;

}
#exheader{
    padding-top: 300px;
    margin-bottom: 0;
    text-align: center;
}

.example {
    padding: 20px;
    padding-top: 5px;
    display: inline-flex;
    justify-content: space-around;

}
.examplex3 {
    margin: 10px;
    width: 20%;

}
.quiltimg {
    width: 100%;
}
.quiltimg:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
.exdivider {
    background-color: #68588b;
    height: fit-content;
    width: 100%;
    display: inline-flex;
    box-sizing: border-box;
    padding: 40px;
    align-items: center;
}
#exdividertext {
    margin-left: 40px;
}
#exheader2 {
    text-align: center;
    margin-bottom: 10px;
}
.example2 {
    padding: 20px;
    padding-top: 5px;
    display: inline-flex;
    align-items:center;
    justify-content: space-around;
}
.examplex2 {
    margin: 10px;
    width: 20%;

}

form {
    border:thistle solid 1px; 
    padding: 10px;

}
.form {
    background-color:#C3ACDD;
    padding: 5px;
    
}